@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 58, 89;
  --background-rgb: 255, 169, 44;
  /*color-scheme: light !important;*/
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-rgb: 15, 20, 25;*/
/*  }*/
/*}*/

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  background-image: url("../../public/insights-logo-bg.svg");
  background-position: left center;
  background-size: 40vh auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

// Global

a {
  color: #1e3a59;

  &:hover {
    text-decoration: underline;
  }
}
.link {
  cursor: pointer;
  text-decoration-line: none;
}
.link:hover {
  text-decoration: underline;
}

.btn.btn-primary {
  border-color: #ffd856;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: #ffa92c;
    border-color: #ffd856;
  }
}

// Header

.wrap {
  z-index: 100;
  box-shadow: 0 0 10px #ffa92c;
}

.header {
  /*background-color: rgba(255, 255, 255, 0.85);*/
  /*backdrop-filter: blur(12px);*/
  max-width: 1230px;

  .navbar-start {
    width: 60%;
  }
  .logo {
    width: 88px;
    height: 26px;
  }
  .menu {
    padding-left: 12px;
    padding-right: 12px;

    a {
      color: #a6b8cd;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.08em;
      border-radius: 0;
      padding: 6px 0;
      margin: 6px 22px 0;
      border-bottom: 4px solid transparent;

      &.active-link,
      &:hover,
      &:focus {
        color: #1e3a59;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.08em;
        border-bottom: 4px solid #ffd856;
        background: transparent;
        text-decoration: none;
      }
    }
  }

  .navbar-end {
    width: 40%;

    .menu a {
      margin: 0 12px 0;
      border-bottom: none;

      &:hover,
      &:focus {
        border-bottom: none;
        text-decoration: none;
        svg {
          fill: #ffd856;
        }
      }
    }
    .dropdown {
      padding: 6px 0;

      .link {
        padding: 6px 0;

        &:hover svg,
        &:focus svg {
          fill: #ffd856;
        }
      }

      ul {
        width: auto;
      }
      a {
        white-space: nowrap;
        border-bottom: 4px solid transparent;

        &.active-link,
        &:hover,
        &:focus {
          border-bottom: 4px solid #ffd856;
        }
      }
    }
  }
}

.mobile-menu {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 68px 37px 23px;
  z-index: 90;

  .mobile-main-nav {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      a {
        color: #1e3a59;
        font-size: 14px;
        font-weight: 700;
        width: 100%;
        padding: 18px 0;
        border-bottom: 1px solid rgba(166, 184, 205, 0.5);
        background-image: url("../../public/arrow-right.svg");
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: right center;

        &.active-link,
        &:hover,
        &:focus {
          border-bottom-color: #ffd856;
        }
      }
    }
  }
  .mobile-sub-nav {
    position: absolute;
    width: calc(100% - 74px);
    bottom: 30px;
  }
  .dropdown {
    padding: 4px 0;

    .link {
      padding: 2px 0;

      &:hover svg,
      &:focus svg {
        fill: #ffd856;
      }
    }
    a {
      color: #1e3a59;
      font-size: 14px;
      font-weight: 700;
      white-space: nowrap;
      border-radius: 0;
      border-bottom: 4px solid transparent;
      padding: 6px 0;
      margin: 6px 22px 0;

      &.active-link,
      &:hover,
      &:focus {
        border-bottom: 4px solid #ffd856;
      }
    }
  }
}

// Main Content

.main-content {
  max-width: 1230px;
}

// Ranking ROI

.ranking {
  background-image: linear-gradient(180deg, #ffffff 21.99%, #f1f6fc 100%);
  box-shadow: 0px 34px 60px rgba(232, 94, 48, 0.45);
  border-radius: 24px;
  position: relative;
  z-index: 1;
  font-size: 18px;
  color: #1e3a59;
  font-weight: bold;
  padding: 70px 40px 30px;

  &.ranking-news {
    margin-bottom: 33px;
    padding: 70px 50px 50px;

    &:after {
      background-image: url("../../public/ranking-mask-news.svg");
    }

    .link {
      font-size: 16px;
      font-weight: bold;
      max-width: none;
      min-height: auto;
      text-overflow: unset;
      white-space: normal;
      overflow: auto;
    }

    h1 i {
      background-image: url("../../public/fire.webp");
    }

    .ranking-news-list {
      width: 100%;
      margin-top: 40px;

      li {
        list-style: none;
        padding: 5px 0 10px;

        .collapse-title {
          padding: 0;
          padding-inline-end: 0;
        }

        .topic-number {
          width: 33px;
          height: 22px;
          margin-right: 10px;
          padding-right: 4px;
          text-align: center;
          color: #ffffff;
          font-size: 17px;
          font-weight: bold;
          background-image: url("../../public/news/topic-4.svg");
          background-repeat: no-repeat;
          background-size: 100% auto;
          background-position: center center;

          &.number-1 {
            background-image: url("../../public/news/topic-1.svg");
          }

          &.number-2 {
            background-image: url("../../public/news/topic-2.svg");
          }

          &.number-3 {
            background-image: url("../../public/news/topic-3.svg");
          }
        }

        .topic-title {
          width: 100%;
          font-size: 20px;
          line-height: 1.3;
          color: #1e3a59;
          padding-bottom: 10px;
          border-bottom: 1px solid #a6b8cd;

          &.number-1,
          &.number-2,
          &.number-3 {
            padding-right: 40px;
            background-image: url("../../public/news/hot.svg");
            background-repeat: no-repeat;
            background-size: 39px 19px;
            background-position: right 2px;
          }
        }

        .collapse-content {
          font-size: 16px;
          font-weight: normal;
          color: rgb(var(--foreground-rgb));
          padding-left: 40px;

          .link {
            color: #ffa92c;
          }
        }
      }
    }
  }

  &:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../public/ranking-mask.svg");
    background-repeat: no-repeat;
    background-size: auto 900px;
    background-position: center right -80px;
    border-radius: 24px;
    z-index: -1;
  }

  .link {
    font-size: 16px;
    font-weight: bold;
    max-width: 23vw;
    min-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  h1 {
    font-size: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    text-align: center;
    font-weight: bold;

    i {
      width: 40px;
      height: 45px;
      background-image: url("../../public/crown.png");
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  }

  .ranking-more {
    position: absolute;
    right: 24px;
    top: 24px;
    border-radius: 6px;
    background-color: #edf3f9;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 3px;
    padding: 5px 15px;
    cursor: pointer;

    &:hover {
      background-color: #a6b8cd;
    }

    i {
      width: 18px;
      height: 20px;
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center top;

      &.down {
        background-image: url("../../public/down.svg");
      }

      &.up {
        background-image: url("../../public/up.svg");
      }
    }
  }

  .ranking-top {
    width: 100%;
    gap: 0 16px;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
    margin-top: 70px;

    .ranking-top-card {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      gap: 8px 0;
      width: 100%;
      height: 140px;
      padding-bottom: 18px;
      border-radius: 24px;
      background: #ffffff;
      box-shadow: 0px 15px 40px rgba(166, 184, 205, 0.5);

      .avatar {
        width: 127px;
        height: 127px;
        margin-bottom: 5px;
        filter: drop-shadow(0px 8px 22px rgba(30, 58, 89, 0.5));
      }

      .winner-tag {
        position: absolute;
        width: 65px;
        height: 26px;
        right: 0;
        top: -40px;
        font-size: 16px;
        line-height: 28px;
        border-radius: 12px 12px 12px 0;
        background: linear-gradient(270deg, #ffcc56 0%, #ffd856 100%);
        text-align: center;
        color: #1e3a59;

        &.winner-tag-1 {
          background: linear-gradient(270deg, #ffcc56 0%, #ffd856 100%);
        }

        &.winner-tag-2 {
          background: linear-gradient(270.13deg, #c7c7c7 -16.29%, #e2e2e2 99.88%);
        }

        &.winner-tag-3 {
          background: linear-gradient(270.1deg, #f7a258 -49.14%, #ffc490 99.91%);
        }
      }

      &.winner-1 {
        height: 168px;

        .avatar {
          width: 168px;
          height: 168px;
        }
      }
    }
  }

  .rank-list {
    padding: 0 20px 0;

    li {
      padding: 13px 0;
      border-bottom: 1px solid rgba(166, 184, 205, 0.5);

      &:last-child {
        border-bottom: none;
      }

      & > div {
        gap: 0 20px;
      }

      .avatar {
        width: 46px;
        height: 46px;
        background: linear-gradient(180deg, #ffd856 0%, #eea02e 100%);
        border-radius: 10px;
      }
      .rank-no {
        color: #1e3a59;
        font-size: 16px;
        font-weight: bold;
        width: 45px;
      }
    }
  }

  .roi-text {
    display: flex;
    font-size: 21px;
    align-items: center;
    justify-content: center;

    .roi-text-content {
      display: flex;
      height: 30px;
      line-height: 32px;
      position: relative;

      &.star:after {
        display: block;
        content: "";
        width: 24px;
        height: 24px;
        margin-left: 5px;
        background-image: url("../../public/star.svg");
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: center center;
      }
    }
  }

  @media (max-width: 1023px) {
    padding: 20px 12px 12px;
    border-radius: 12px;
    font-size: 10px;
    box-shadow: 0px 0px 5px rgba(232, 94, 48, 0.45);

    &.ranking-news {
      padding: 20px 12px 12px;
      margin-bottom: 20px;

      &:after {
        background-size: 100vw auto;
        background-position: top right -50px;
      }

      .link {
        font-size: 12px;
      }
      .ranking-news-list {
        margin-top: 0;
        li {
          list-style: none;
          padding: 4px 0 6px;

          .topic-number {
            width: 24px;
            height: 16px;
            font-size: 12px;
            margin-right: 5px;
          }
          .topic-title {
            position: relative;
            font-size: 14px;
            padding-bottom: 6px;
            border-bottom: 1px solid #a6b8cd;
            &.number-1,
            &.number-2,
            &.number-3 {
              padding-right: 0;
              background: none;
            }

            img {
              display: inline;
              width: 24px;
              height: 19px;
              margin-left: 5px;
              margin-top: -2px;
            }
          }
          .collapse-content {
            font-size: 10px;
            padding-left: 28px;
          }
        }
      }
    }

    &:after {
      background-size: auto 185px;
      background-position: center right -50px;
    }

    .link {
      font-size: 10px;
      min-height: 14px;
    }

    h1 {
      font-size: 18px;

      i {
        width: 20px;
        height: 21px;
      }
    }
    .ranking-more {
      right: 12px;
      top: 12px;
      font-size: 12px;
      padding: 5px 0;
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }

      i {
        width: 14px;
        height: 16px;
      }
    }

    .ranking-top {
      padding: 20px 0 0;
      margin-top: 20px;
      gap: 0 5px;

      .ranking-top-card {
        height: 64px;
        border-radius: 12px;
        gap: 5px 0;
        padding-bottom: 10px;

        .avatar {
          width: 55px;
          height: 55px;
        }
        .winner-tag {
          position: absolute;
          width: 30px;
          height: 11px;
          right: 0;
          top: -5px;
          font-size: 7px;
          line-height: 13px;
          border-radius: 6px 6px 6px 0;
        }

        &.winner-1 {
          height: 78px;

          .avatar {
            width: 66px;
            height: 66px;
          }
        }
      }
    }

    .roi-text {
      font-size: 12px;
      height: 18px;
      line-height: 18px;

      .roi-text-content {
        height: 18px;
        line-height: 18px;

        &.star:after {
          width: 12px;
          height: 12px;
          background-size: 12px 12px;
        }
      }
    }
  }
}

// news

.article-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 24px;
  margin-bottom: 30px;
  padding: 40px 50px;

  .article-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3;
  }

  .badge {
    font-size: 18px;
    font-weight: bold;
    background-color: #f1f6fc;
    padding: 7px 22px;
    height: auto;
    color: #a6b8cd;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: #1db5d4;
      color: #fff;
      text-decoration: none;
    }
  }

  .article-content {
    margin-top: 10px;
    font-size: 16px;
    color: rgb(var(--foreground-rgb));
  }

  .article-more {
    .more-btn {
      font-size: 20px;
      font-weight: bold;
      color: #1e3a59;

      &:hover {
        cursor: pointer;
      }
    }
    img {
      width: 24px;
      height: 24px;
      margin-top: -2px;
    }
    .more-date {
      color: #a6b8cd;
      font-weight: normal;
      font-size: 18px;
      margin-left: 20px;
      padding-left: 20px;
      border-left: 1px solid #a6b8cd;
    }
  }

  .article-img-content {
    width: 100%;
    max-width: 342px;
    text-align: right;
  }

  .article-img {
    width: 342px;
    height: 187px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px #e6eaed;
  }

  @media (max-width: 1023px) {
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 25px 20px;

    .article-title {
      font-size: 16px;
    }
    .badge {
      font-size: 12px;
      padding: 4px 15px;
    }

    .article-content {
      margin-top: 5px;
      font-size: 12px;
    }
    .article-more {
      .more-btn {
        font-size: 12px;
      }
      img {
        width: 14px;
        height: 14px;
        margin-top: -2px;
      }
      .more-date {
        color: #a6b8cd;
        font-size: 12px;
        margin-left: 10px;
        padding-left: 10px;
      }
    }

    .article-img-content {
      display: none;
    }
    .article-img {
      width: 100%;
      max-width: 100%;
      height: 45vw;
      margin-top: 5px;
    }
  }
}

// end message

.end-message {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

// search

.search {
  .ant-input-affix-wrapper {
    padding: 3px 11px;
  }
  .ant-input-wrapper,
  .ant-input-affix-wrapper {
    background: rgba(255, 255, 255, 0.2);
    border-color: #fff;

    input {
      color: #ffffff;

      &::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
    }

    .ant-btn {
      background: rgba(255, 255, 255, 0.2);
      border-color: #fff;

      &:hover {
        background: rgba(255, 255, 255, 0.3);
        border-color: #fff;
      }

      svg {
        fill: #fff;
      }
    }

    .ant-input-clear-icon {
      svg {
        fill: #fff;
      }
    }

    .ant-input-group-addon {
    }
  }

  .clear-btn {
    min-height: 1.4rem;
    font-size: 12px;
  }
}

// prediction-card

.predictions-content {
  gap: 18px;
  width: 100%;

  .prediction-card {
    width: 100%;
    max-width: calc(33.3% - 12px);
    background: linear-gradient(0deg, #ffffff, #ffffff), linear-gradient(180deg, #ffffff 35.44%, #e8f3ff 100%);
    box-shadow: 0px 25px 30px rgba(232, 94, 48, 0.45);
    border-radius: 24px;
    padding: 25px;

    .author {
      border-radius: 20px;
      background-color: #f1f6fc;
      padding: 18px;

      .avatar {
        width: 46px;
        height: 46px;
        background: linear-gradient(180deg, #ffd856 0%, #eea02e 100%);
        border-radius: 10px;
      }

      .author-name {
        font-size: 18px;
        font-weight: bold;
      }
      .author-roi {
        font-size: 11px;
        font-weight: bold;
      }
    }
    .prediction-card-roi {
      font-size: 48px;
      font-weight: bold;
      line-height: 1;

      & > .roi-percent {
        font-size: 24px;
      }
    }
    .content-label {
      color: #a6b8cd;
      font-size: 12px;
    }
    .content {
      color: #1e3a59;
      font-size: 20px;
      font-weight: bold;

      .date {
        font-size: 14px;
        font-weight: normal;
        margin-left: 5px;
        color: #1e3a59;
      }
    }
    .date {
      color: #a6b8cd;
      font-size: 12px;
    }
    .token {
      border-bottom: 1px solid #a6b8cd;
      padding-top: 15px;
      padding-bottom: 10px;
      margin-bottom: 15px;
    }
  }

  @media (max-width: 1023px) {
    gap: 14px;

    .prediction-card {
      max-width: 100%;
      box-shadow: 0px 0px 5px rgba(232, 94, 48, 0.45);
      padding: 15px;
      border-radius: 20px;

      .author {
        padding: 12px;
        border-radius: 12px;

        .avatar {
          width: 38px;
          height: 38px;
        }

        .author-name {
          font-size: 14px;
          font-weight: bold;
        }
        .author-roi {
          font-size: 10px;
          font-weight: normal;
        }
      }
      .prediction-card-roi {
        font-size: 40px;

        & > .roi-percent {
          font-size: 18px;
        }
      }
      .content {
        font-size: 16px;
      }
      .trend {
        img {
          width: 48px;
          height: 48px;
        }
      }
      .token {
        padding-top: 15px;
        padding-bottom: 10px;
        margin-bottom: 8px;
      }
    }
  }
}

// Tweets

.tweet-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 24px;
  margin-bottom: 30px;
  padding: 40px 50px;

  .user,
  .username {
    gap: 0 22px;
  }

  .user-avatar {
    width: 62px;
    height: 62px;
    background: linear-gradient(180deg, #ffd856 0%, #eea02e 100%);
    border-radius: 10px;
  }

  .user-name {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
  }

  .x-user {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 0 5px;
    font-size: 16px;

    .link {
      color: #1db5d4;
      font-weight: bold;
      white-space: nowrap;
    }
  }

  .tweet {
    margin-left: 30px;
    margin-top: 30px;
    border-left: 1px solid rgba(166, 184, 205, 0.5);
    padding: 0 0 0 52px;

    .tweet-content {
      display: block;
      width: 100%;
      font-size: 16px;

      a {
        color: #1db5d4;
      }

      .tweet-img {
        max-width: 20rem;
        max-height: 20rem;
        border-radius: 8px;
      }
    }

    .tweet-tags {
      flex-wrap: wrap;
      a {
        color: #1db5d4;
        font-size: 14px;
      }
    }

    .insights {
      color: #a6b8cd;
      font-size: 14px;

      span {
        color: #1e3a59;
        font-weight: bold;
      }
    }

    .date {
      color: #a6b8cd;
      font-size: 14px;
    }
  }

  .tweet-more {
    padding: 10px 28px !important;
    height: auto !important;
    min-height: auto !important;

    &:hover {
      text-decoration: none;
    }
  }

  @media (max-width: 1023px) {
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 15px 15px;

    .user,
    .username {
      gap: 0 10px;
    }

    .user-avatar {
      width: 38px;
      height: 38px;
    }

    .user-name {
      font-size: 14px;
    }
    .x-user {
      font-size: 12px;
      .avatar {
        display: none;
      }
    }
    .tweet {
      margin-left: 0;
      margin-top: 10px;
      padding: 0 0 0 10px;

      .tweet-content {
        font-size: 12px;

        .tweet-img {
          max-width: 90%;
          max-height: none;
        }
      }
      .tweet-tags a {
        font-size: 12px;
      }

      .date,
      .insights {
        font-size: 12px;
      }
    }
    .tweet-more {
      font-size: 14px;
      padding: 8px 20px !important;
      height: auto !important;
      min-height: auto !important;
    }
  }
}

// -------------

.tabtitle {
  border-bottom-width: 1px;
  border-color: #eff3f4;
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
}
.tabtitle.tabs-bordered > .tab {
  border-color: transparent;
  border-bottom-width: 4px;
  font-size: 18px;
  color: #536471;
  padding: 0 3rem 2.5rem;
}
.tabtitle.tabs-bordered > .tab:hover {
  color: #0f1419;
}
@media (max-width: 768px) {
  .tabtitle.tabs-bordered > .tab {
    font-size: 16px;
    padding: 0 1rem 2rem;
  }
}
@media (max-width: 400px) {
  .tabtitle.tabs-bordered > .tab {
    font-size: 14px;
    padding: 0 0.5rem 1.5rem;
  }
}
.tabtitle.tabs-bordered > .tab.tab-active:not(.tab-disabled):not([disabled]) {
  color: #0f1419;
  border-color: #1d9bf0;
  font-weight: bold;
}

.tweet {
  width: calc(100% - 1.25rem);
}
@media (max-width: 768px) {
  .tweet {
    width: 100%;
  }
}

.drawer-side {
  z-index: 100;
}

.collapse-title,
:where(.collapse > input[type="checkbox"]),
:where(.collapse > input[type="radio"]) {
  min-height: auto !important;
}
.collapse-title:hover {
  text-decoration: underline;
}
.collapse-content {
  padding: 0;
}
.collapse[open] > :where(.collapse-content),
.collapse-open > :where(.collapse-content),
.collapse:focus:not(.collapse-close) > :where(.collapse-content),
.collapse:not(.collapse-close) > :where(input[type="checkbox"]:checked ~ .collapse-content),
.collapse:not(.collapse-close) > :where(input[type="radio"]:checked ~ .collapse-content) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.ant-select-selection-item,
.ant-select-item-option-content {
  line-height: 1.4 !important;
  word-break: break-all !important;
  white-space: break-spaces !important;
}
