@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 58, 89;
  --background-rgb: 255, 169, 44;
  /*color-scheme: light !important;*/
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-rgb: 15, 20, 25;*/
/*  }*/
/*}*/

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

// Global

a {
  color: #1d9bf0;
}
.link {
  cursor: pointer;
  text-decoration-line: none;
}
.link:hover {
  text-decoration: underline;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background-color: #ffa92c;
  border-color: #ffa92c;
}

// Header

.header {
  /*background-color: rgba(255, 255, 255, 0.85);*/
  /*backdrop-filter: blur(12px);*/

  .navbar-start {
    width: 60%;
  }
  .logo {
    width: 88px;
    height: 26px;
  }
  .menu {
    padding-left: 12px;
    padding-right: 12px;

    a {
      color: #a6b8cd;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.08em;
      border-radius: 0;
      padding: 6px 0;
      margin: 6px 22px 0;
      border-bottom: 4px solid transparent;

      &.active-link,
      &:hover,
      &:focus {
        color: #1e3a59;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.08em;
        border-bottom: 4px solid #ffd856;
        background: transparent;
      }
    }
  }

  .navbar-end {
    width: 40%;

    .menu a {
      margin: 0 12px 0;
      border-bottom: none;

      &:hover,
      &:focus {
        border-bottom: none;
        svg {
          fill: #ffd856;
        }
      }
    }
    .dropdown {
      padding: 6px 0;

      .link {
        padding: 6px 0;

        &:hover svg,
        &:focus svg {
          fill: #ffd856;
        }
      }

      ul {
        width: auto;
      }
      a {
        white-space: nowrap;
        border-bottom: 4px solid transparent;

        &.active-link,
        &:hover,
        &:focus {
          border-bottom: 4px solid #ffd856;
        }
      }
    }
  }
}

.mobile-menu {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 68px 37px 23px;

  .mobile-main-nav {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      a {
        color: #1e3a59;
        font-size: 14px;
        font-weight: 700;
        width: 100%;
        padding: 18px 0;
        border-bottom: 1px solid rgba(166, 184, 205, 0.5);
        background-image: url("../../public/arrow-right.svg");
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: right center;

        &.active-link,
        &:hover,
        &:focus {
          border-bottom-color: #ffd856;
        }
      }
    }
  }
  .mobile-sub-nav {
    position: absolute;
    width: calc(100% - 74px);
    bottom: 30px;
  }
  .dropdown {
    padding: 4px 0;

    .link {
      padding: 2px 0;

      &:hover svg,
      &:focus svg {
        fill: #ffd856;
      }
    }
    a {
      color: #1e3a59;
      font-size: 14px;
      font-weight: 700;
      white-space: nowrap;
      border-radius: 0;
      border-bottom: 4px solid transparent;
      padding: 6px 0;
      margin: 6px 22px 0;

      &.active-link,
      &:hover,
      &:focus {
        border-bottom: 4px solid #ffd856;
      }
    }
  }
}

.tabtitle {
  border-bottom-width: 1px;
  border-color: #eff3f4;
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
}
.tabtitle.tabs-bordered > .tab {
  border-color: transparent;
  border-bottom-width: 4px;
  font-size: 18px;
  color: #536471;
  padding: 0 3rem 2.5rem;
}
.tabtitle.tabs-bordered > .tab:hover {
  color: #0f1419;
}
@media (max-width: 768px) {
  .tabtitle.tabs-bordered > .tab {
    font-size: 16px;
    padding: 0 1rem 2rem;
  }
}
@media (max-width: 400px) {
  .tabtitle.tabs-bordered > .tab {
    font-size: 14px;
    padding: 0 0.5rem 1.5rem;
  }
}
.tabtitle.tabs-bordered > .tab.tab-active:not(.tab-disabled):not([disabled]) {
  color: #0f1419;
  border-color: #1d9bf0;
  font-weight: bold;
}

.tweet {
  width: calc(100% - 1.25rem);
}
@media (max-width: 768px) {
  .tweet {
    width: 100%;
  }
}

.drawer-side {
  z-index: 100;
}

.collapse-title,
:where(.collapse > input[type="checkbox"]),
:where(.collapse > input[type="radio"]) {
  min-height: auto !important;
}
.collapse-title:hover {
  text-decoration: underline;
}
.collapse-content {
  padding: 0;
}
.collapse[open] > :where(.collapse-content),
.collapse-open > :where(.collapse-content),
.collapse:focus:not(.collapse-close) > :where(.collapse-content),
.collapse:not(.collapse-close) > :where(input[type="checkbox"]:checked ~ .collapse-content),
.collapse:not(.collapse-close) > :where(input[type="radio"]:checked ~ .collapse-content) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.ant-select-selection-item,
.ant-select-item-option-content {
  line-height: 1.4 !important;
  word-break: break-all !important;
  white-space: break-spaces !important;
}
