@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 20, 25;
  --background-rgb: 255, 255, 255;
  /*color-scheme: light !important;*/
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-rgb: 15, 20, 25;*/
/*  }*/
/*}*/

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  color: #1d9bf0;
}
.link {
  cursor: pointer;
  text-decoration-line: none;
}
.link:hover {
  text-decoration: underline;
}

.header {
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
}
.tabtitle {
  border-bottom-width: 1px;
  border-color: #eff3f4;
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
}
.tabtitle.tabs-bordered > .tab {
  border-color: transparent;
  border-bottom-width: 4px;
  font-size: 18px;
  color: #536471;
  padding: 0 3rem 2.5rem;
}
.tabtitle.tabs-bordered > .tab:hover {
  color: #0f1419;
}
@media (max-width: 768px) {
  .tabtitle.tabs-bordered > .tab {
    font-size: 16px;
    padding: 0 1rem 2rem;
  }
}
.tabtitle.tabs-bordered > .tab.tab-active:not(.tab-disabled):not([disabled]) {
  color: #0f1419;
  border-color: #1d9bf0;
  font-weight: bold;
}

.tweet {
  width: calc(100% - 1.25rem);
}
@media (max-width: 768px) {
  .tweet {
    width: 100%;
  }
}

.drawer-side {
  z-index: 100;
}

.collapse-title,
:where(.collapse > input[type="checkbox"]),
:where(.collapse > input[type="radio"]) {
  min-height: auto !important;
}
.collapse-title:hover {
  text-decoration: underline;
}
.collapse-content {
  padding: 0;
}
.collapse[open] > :where(.collapse-content),
.collapse-open > :where(.collapse-content),
.collapse:focus:not(.collapse-close) > :where(.collapse-content),
.collapse:not(.collapse-close) > :where(input[type="checkbox"]:checked ~ .collapse-content),
.collapse:not(.collapse-close) > :where(input[type="radio"]:checked ~ .collapse-content) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
